{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="container">
 
    <h1>Local Businesses</h1><br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Business name</th>
          <th>Neighbourhood</th>
          <th>Email</th>
          <th>Business type</th>
        </tr>
        {% for business in object_list %}
        <tr>
          <td>
            {{ business.name }} 
          </td>
          <td>
            {{ business.neighborhood}} 
          </td>
          <td>
            {{ business.email  }}
          </td>
          <td>
            {{ business.business_type  }}
          </td>
        </tr>
        {% endfor %}
      </thead>
    </table>
    
  </div>

</p> {% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}