{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="container">
    <h1>moshene corner...</h1><br>
    <table class="table table-striped">
      <tr>
        {% for conversation in object_list %}
        <th><strong>{{ conversation.topic }}| {{ conversation.member }} <br></strong> </th>
      </tr>
      <tr>
      <td>
        {{ conversation.details }} 
      </td>
    </tr>
    {% endfor %}
    </table>
</div>
</p> {% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}